

.TableColor tr:nth-child(even)
{background-color: #f2f2f2;}

.header {
 display: inline-block; 
 width: 100%;
 /* border: 1px solid red; */
}
.headOne {
 float: right;
 color: green;
}
.headTwo {
 float: left;
}
.headAlt{
 float: right;
 color: red;
}


.line {
 width: 100%;
 height: 1px;
 border-bottom: 1px dashed #ddd;
 margin: 0px 0;
 margin-bottom: 50px;
}

   th, td {
       padding: 10px;
       text-align: left;
   }

   .btn-effcts.panel-widget {
       padding: 1em;
       margin-top: 2em;
       background: #fff;
       box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
   }
   
   /* @-webkit-keyframes hvr-pulse {
       25% {
         -webkit-transform: scale(1.1);
         transform: scale(1.1);
       }
       75% {
           -webkit-transform: scale(0.9);
           transform: scale(0.9);
         }
       }
       @keyframes hvr-pulse {
           25% {
             -webkit-transform: scale(1.1);
             transform: scale(1.1);
           }
         
           75% {
             -webkit-transform: scale(0.9);
             transform: scale(0.9);
           }
         }
         
         .hvr-pulse {
           display: inline-block;
           vertical-align: middle;
           -webkit-transform: translateZ(0);
           transform: translateZ(0);
           box-shadow: 0 0 1px rgba(0, 0, 0, 0);
           -webkit-backface-visibility: hidden;
           backface-visibility: hidden;
           -moz-osx-font-smoothing: grayscale;
         }
         .hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
           -webkit-animation-name: hvr-pulse;
           animation-name: hvr-pulse;
           -webkit-animation-duration: 1s;
           animation-duration: 1s;
           -webkit-animation-timing-function: linear;
           animation-timing-function: linear;
           -webkit-animation-iteration-count: infinite;
           animation-iteration-count: infinite;
         } */


         
        /* **************PUSH*****************
    */

     /* push */
@-webkit-keyframes hvr-push {
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }

 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }
}

@keyframes hvr-push {
 50% {
   -webkit-transform: scale(0.8);
   transform: scale(0.8);
 }

 100% {
   -webkit-transform: scale(1);
   transform: scale(1);
 }
}

.hvr-push {
 display: inline-block;
 vertical-align: middle;
 -webkit-transform: translateZ(0);
 transform: translateZ(0);
 box-shadow: 0 0 1px rgba(0, 0, 0, 0);
 -webkit-backface-visibility: hidden;
 backface-visibility: hidden;
 -moz-osx-font-smoothing: grayscale;
}

/* .hvr-push:hover, */

.hvr-push:focus, .hvr-push:active {
 -webkit-animation-name: hvr-push;
 animation-name: hvr-push;
 -webkit-animation-duration: 0.3s;
 animation-duration: 0.3s;
 -webkit-animation-timing-function: linear;
 animation-timing-function: linear;
 -webkit-animation-iteration-count: 1;
 animation-iteration-count: 1;
}


         /* **************PUSH*****************
    */

         input {
           width: 100%;
           
           padding: 5px 10px;
           box-sizing: border-box;
           border: 2px solid #ccc;
           border-radius: 4px;
           background-color: #f8f8f8;
           resize: none;
         }
         select
         {
           
             width: 100%;
             
             padding: 5px 10px;
             box-sizing: border-box;
             border: 2px solid #ccc;
             border-radius: 2px;
             background-color: #f8f8f8;
             resize: none;
           
         }
       
         /* rgb(210, 219, 211) */
       
         /* #4d7397 */
       
         button {
       
           background-color:#7386D5;     
           border: none;
           color: white;
           padding: 8px 20px 8px 20px;
           text-align: center;
           text-decoration: none;
           display: inline-block;
           font-size: 14px;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           margin: 4px 2px;
           cursor: pointer;
         } 
         
          /* .button1 {border-radius: 2px;}
         .button2 {border-radius: 4px;}
         .button3 {border-radius: 8px;}  */
          /* button {border-radius: 12px;} */
          /* .button5 {border-radius: 50%;}  */
         
          /* @import '~bootstrap/scss/bootstrap-reboot';
          @import '~bootstrap/scss/bootstrap-grid'; */
       
          /* table{
            
            font-size: 13px;	
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
          } */
          
.TableColor
{
 /* table-layout: fixed; */
 max-width: 980px;
 max-height: 500px;
  overflow-x: auto;
  overflow-y:scroll;
  display: block; 
/*   overflow: scroll; Scrollbar are always visible */
/* overflow: auto;   */
}
/* .search-table-outter { overflow-x: scroll; } */
.response
{
 color: red;
}

/* .TableColor tbody {
   height: 100px;      
   overflow-y: auto;
   overflow: auto;   
   
} */

          
       

       


         
   