
<div>
    <div class="header">
        <h6 class="headOne" >
         {{response}}
        </h6>
        <h6 class="headAlt">
         {{validationResponse}}
         </h6>
  <h4>
    Create User
  </h4>
  <div class="line"></div>
  <form #User="ngForm" (ngSubmit)="createUser(User.value)">
    <table align="center" cellpadding="8" cellspacing="8" width="500px">
      <tr>
        <td><b>User ID</b></td>
        <td>
          <input type="text" name="userId" #userId placeholder="Login Credential" ngModel upperCase>
        </td>
      </tr>

      <tr>
        <td><b>Username</b></td>
        <td>
          <input type="text" name="userName" ngModel upperCase/>
        </td>
      </tr>

      <tr>
        <td><b>Admin</b></td>
        <td>
          <input type="radio" name="userType" ngModel value="A" (click)="getRoleType('A')">
        </td>
        <tr>
          <td><b>Normal</b></td>
          <td>
            <input type="radio" name="userType" ngModel value="N" (click)="getRoleType('N')">
          </td>
        </tr>

        <tr>
          <td><b>Role ID</b></td>
          <td>
            <select name="roleId" ngModel #roleId (change)="getRoleInfoForMisUpload(roleId.value)">
                <option aria-readonly="true" value="">Select</option>
                <option *ngFor="let role of userRoles">{{role}}</option>
              </select>
          </td>
        </tr>

        <tr *ngIf="roleInfo.indexOf('FUM') > -1 || roleInfo.indexOf('FDM')  > -1 && roleType=='N'">
          <td><b>Department</b></td>
          <td>
            <!-- <select name="dept" ngModel #dept (change)="getDept(dept.value)" >
              <option aria-readonly="true" value="">Select</option>
              <option *ngFor="let dept of deptList"  >{{dept}}</option>
            </select> -->
            <ng-multiselect-dropdown
        
            [placeholder]="'Select'"
            [data]="dropdownList"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            (onDeSelect)="onItemDeSelect($event)"
           [ngModelOptions]="{standalone: true}"
          >
          <!--  -->
          </ng-multiselect-dropdown>
          </td>
        </tr>

        <tr>
          <td><b>Branch</b></td>
          <td>
            <input type="text" name="brnCode" ngModel upperCase>
          </td>
        </tr>
        <tr>
          <td><b>Email ID</b></td>
          <td>
            <input type="text" name="emailId" ngModel upperCase>
          </td>
        </tr>

        <tr>
          <td><b>Mobile No</b></td>
          <td>
            <input type="number" name="mobileNo" ngModel >
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-effcts">
              <button type="submit"  class="hvr-push btn btn-success" [disabled]="disabledButtonFlag">Submit</button>
            </div>
          </td>
          <td>
            <div class="btn-effcts">
              <button type="reset" class="hvr-push btn btn-danger" (click)="reset()">Reset</button>
            </div>
          </td>
        </tr>
    </table>
  </form>
</div>