
<div>
  <h4>Risk Adjustment Value</h4>
  <div class="line"></div>
  <form>
  <table align="center" cellpadding="8" cellspacing="8">
    <tr>
      <td><b>Department</b></td>
      <td>
        <select name="">
          <option disabled>Select</option>
          <option>RISK</option>
        </select>
      </td>

      <td>
        <div class="btn-effcts">
          <button type="submit" class="hvr-push">Query</button>
        </div>
      </td>
    </tr>
    <!-- </table>
</form>
<br>
<br>
<form method="POST">
  <table align="center" cellpadding="8" cellspacing="8"> -->
    <tr>
      <td><b>Execution Date</b></td>
      <td>
        <input type="date" name="" />
      </td>
      <td>
        <div class="btn-effcts">
          <button type="submit" class="hvr-push">Save</button>
        </div>
      </td>
    </tr>
  </table>
  </form>
  <br>
  <br>
  <table align="center" cellspacing="8" cellpadding="8">
    <tr *ngIf="">
      <th>+</th>
      <th>CIF</th>
      <th>Customer Name</th>
      <th>Customer Number</th>
      <th>Source Of Funds</th>
      <th>Adjustment Fund Expense Amount</th>
      <th>Adjustment Large Expense Deductions</th>
    </tr>
    <tr *ngFor="">
      <td>{{delete}}</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div>