<div class="progress-loader" [hidden]="!loading">
 <p style='color:blue;'>Loading Data Please Wait .......</p> 

  <mat-spinner [diameter]="50"></mat-spinner>
</div>
<!-- <div class="container"  [hidden]="!loading">
  <div class="row">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="loading"></div>
    </div>

    <!-- <p class="spinner-message" *ngIf="message !== ''">
      {{message}}
    </p>
  </div>
</div> -->




