.card-header {
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 900 bold;
  color: #A93226;;
  border-bottom: 2px solid #A93226;
  margin: auto;
  width: 50%;
  padding: 10px;
}

thead {
  font-size: 20px;
  /* box-shadow: 5px 10px 15px black; */
  /* background-color: #1B2631; */
}

th {
  border: 0px;
  box-shadow: 5px 10px 15px white;
}

td {
  /* border: 0px solid black;
  color: black; */
  font-weight: 400;
}

tr {
  border: 0px solid black;
}

.card-body {

  margin: auto;
  top: 20px;
  left: auto;
  width: 100%;

  padding: 10px;

  box-shadow: 5px 10px 15px black;
}

table {
  letter-spacing: 1px;
}

.btn-md {
  width: 100px;
  height: 30px;
  /* box-shadow: 5px 10px 15px black; */
}
.headTwo {
  display: inline-block; 
  width: 100%;
  /* border: 1px solid red; */
}

.headOne {
  float: right;
  color: green;
}
.headTwo {
  float: left;
}
.headAlt{
  float: right;
  color: red;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 0px 0;
  margin-bottom: 50px;
}
