<div>
  <div class="header">
    <!-- <h6 class="headOne" >
     {{responseMsg}}
    </h6> -->
    <h6 class="headAlt">
      {{responseError}}
      <!-- <p *ngIf="!validationResponse">{{response}}</p> -->
    </h6>
    <h4 class="headTwo">
      Change Password
    </h4>
  </div>
  <div class="line"></div>
  <form #passwordReset="ngForm" novalidate>
    <div class="bxshdwborder bxshdw pagealgn">
      <div class='row'>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 alignlabel">User Id</div>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
      </div>
      <div class='row'>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <input class="wdth" type="text" name="Userid" ngModel #Userid size="45">
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
      </div>

      <!-- Otp -->
      <div class='row'>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 alignlabel">OTP</div>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
      </div>
      <div class='row'>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <input class="wdth" type="text" name="otp" ngModel #otp minlength="6" maxlength="6" autocomplete="off" required>
          
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
          <button (click)="getOtp(Userid.value)" [disabled]="disablegenerateotp"
            class="hvr-push btn btn-success submit-btn">
            Generate OTP
          </button>
        </div>
      </div>
      <!-- OTP ended -->
      <!-- New password -->
      <div class='row'>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 alignlabel">New Password</div>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
      </div>
      <div class='row'>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <input class="wdth padrt" type="password" password1 #password1="ngModel" pattern="{{passwordRegex}}" [(ngModel)]="newPassword"
            name="password" [ngClass]="{'has-danger':password1.invalid && (password1.dirty ||password1.touched),
            'has-success':password1.valid && (password1.dirty || password1.touched)}"
            [type]="hide ? 'password' : 'text'" required>
          <mat-icon class="placeholder" (click)="myFunction()">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <br>
          <mat-error *ngIf="password1.errors?.pattern">{{errorMsg}} <br> Should have Min {{minPass}} and Max {{maxPass}}
            characters.</mat-error>
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
      </div>
      <!-- new password ended -->
      <!-- Confirm password -->
      <div class='row'>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 alignlabel">Confirm Password</div>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
      </div>
      <div class='row'>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
        <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">
          <input class="wdth padrt" type="password" name="confirmPassword" ngModel #confirmPassword size="45"
            [type]="hide2 ? 'password' : 'text'">
          <mat-icon class="placeholder" (click)="myFunction1()">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </div>
        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3"></div>
      </div>
      <!-- confirm password -->
<div class="row btnalgn">
  <button type="submit" [disabled]="!passwordReset.valid || !confirmPassword.value || !password1.value || confirmPassword.value !== password1.value || !Userid.value || !otp.value" 
  class="hvr-push btn btn-success submit-btn" 
  (click)="changePassword(password1.value,confirmPassword.value,Userid.value,otp.value)">
    Submit
</button>&nbsp;&nbsp;
<button type="reset" class="hvr-push btn btn-danger reset-btn" (click)="reset()">Reset</button>
             <button  class="hvr-push btn btn-danger" (click)="back()">Back</button>
</div>
    </div>
  </form>
</div>