
<div>
  <h4>Car Maintenance</h4>
  <div class="line"></div>
  <form>
    <table align="center" cellpadding="10">
      <tr>
        <td>
          <input type="text" readonly="readonly" value="Download Customer File">
        </td>
        <td>
          <a href="" download="filePath">Download</a>
        </td>
      </tr>
      <tr>
        <td><b>Execution Date</b></td>
        <td>
          <input type="date" name="">
        </td>
      </tr>
      <tr>
        <td>
          <input type="file" name="">
        </td>
        <td>
          <div class="btn-effcts">
            <button type="submit" class="hvr-push">Upload</button>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>