<!-- <div class="dialog">
  <button mat-raised-button (click)="showDialog()" color="primary">Show Dialog</button>
</div> -->

<mat-card>
  <mat-card-header>
      <mat-card-title>Create Contact Form</mat-card-title>
  </mat-card-header>
  
      <mat-card-content>
      <!-- put the form here -->
      <form>
          <mat-form-field>
              <mat-label>Contact Name</mat-label>
              <input  matInput  placeholder="Contact Name" [(ngModel)]="contactName"  name="contactName"  required>
          </mat-form-field>
          <mat-form-field>
              <mat-label>Contact Address</mat-label>
              <textarea [(ngModel)]="contactAddress" [ngModelOptions]="{standalone: true}"  matInput></textarea>
          </mat-form-field>
          <mat-checkbox [checked]="isDeleted">Is deleted?</mat-checkbox>
          <mat-form-field>
              <mat-label>Date</mat-label>
              <input  [value]="date.value" matInput [matDatepicker]="myPicker"  placeholder="date">
              <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
              <mat-datepicker #myPicker></mat-datepicker>
          </mat-form-field>
          <mat-label>Gender</mat-label>
    <mat-radio-group [(value)]="contactGender">
        <mat-radio-button  value="male">Male</mat-radio-button>
        <mat-radio-button  value="female">Female</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
        <mat-label>Source of Contact</mat-label>
            <mat-select [(value)]="contactSource" placeholder="Source of contact">
            <mat-option value="email">Email</mat-option>
            <mat-option value="website">Website</mat-option>
            <mat-option value="direct">Direct</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
    <input matInput   [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
      </form>
      </mat-card-content>
      <mat-card-actions>
      <!-- put buttons here -->
      <button mat-button (click)="saveCustomer()">Click me!</button>
      <button (click)="methodtestDate()">Date</button>
      </mat-card-actions>

  </mat-card>
  <mat-card>
      <mat-tab>Date</mat-tab>
      <div>
        <p>Today is {{today | date}}</p>
        <p>Or if you prefer, {{today | date:'fullDate'}}</p>
        <p>The time is {{today | date:'h:mm a z'}}</p>
      </div>
  </mat-card>
