
<div>
  <h4>IB-Capital File upload</h4>
  <div class="line"></div>
  <form>
    <table align="center" cellpadding="8" cellspacing="8">
      <tr>
        <td><b>Execution Date</b></td>
        <td>
          <input type="date" name="">
        </td>
      </tr>
      <tr>
        <td><b>Report name</b></td>
        <td>
          <select name="">
            <option disabled>Select</option>
          </select>
        </td>
      </tr>
      <tr>
        <td><b>Upload File</b></td>
        <td>
          <input type="file" name="">
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn-effcts">
            <button type="submit" class="hvr-push">Upload</button>
          </div>
        </td>
        <td>
          <div class="btn-effcts">
            <button type="reset" class="hvr-push">Cancel</button>
          </div>
        </td>
        <br>
        <br>
      </tr>
    </table>
  </form>
  <br>
  <br>

  <table align="center" cellpadding="8" cellspacing="8">
    <tr>

      <td><b>Execution Date</b></td>
      <td>
        <input type="file">
      </td>
    </tr>
    <tr>
      <td>
        <div class="btn-effcts">
          <button type="submit" class="hvr-push">Hyperion Movement</button>
        </div>
      </td>
    </tr>
  </table>

</div>