<div>
  <br>
  <br>
    <div class="header">
      <h6 class="headOne" >
       {{responseMsg}}
      </h6>
      <h6 class="headAlt">
       {{responseError}}
       <!-- <p *ngIf="!validationResponse">{{response}}</p> -->
       </h6>
      <h4 class="headTwo">
       
      </h4>
    </div>
    <br>
    <br>
    <div align="center"><h4>Change Password</h4></div>
    <br>
    <br>
    <br>
    <!-- <div class="line"></div> -->
    <form>
      <table align="center" cellpadding="14" cellspacing="8">
        <tr>
          <td>
            <b>New Password</b>
          </td>
          <td>
            <input id="password" class="input" data-toggle="tooltip" title="It should contain Min-14 & Max-20 Characters, ex: sample#148Rfts" type="password" name="newPassword" ngModel #newPassword size="45" >
          </td>
          <td><span id="result" class="result"></span></td>
        </tr>
        <tr>
          <td>
            <b>Confirm New Password</b>
          </td>
          <td>
            <input  type="password" name="confirmPassword" ngModel #confirmPassword size="45" >
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-effcts">
              <button type="submit" class="hvr-push btn btn-success" [disabled]="passwordStatus" (click)="changePassword(newPassword.value,confirmPassword.value)">Submit</button>
            </div>
          </td>
          <td>
            <div class="btn-effcts">
              <button type="reset" class="hvr-push btn btn-danger" (click)="reset()">Reset</button>
            </div>
          </td>
        </tr>
      </table>
    </form>
  </div>
  <!-- <div *ngIf="pageStatus">
      <app-user-home [user]="user"></app-user-home>
  </div> -->