
<div>
  <h4>IB-Capital Refresh</h4>
  <div class="line"></div>
 
  <form>
    <table align="center" cellspacing="8" cellpadding="8">
      <tr><td> <h6>Last Refresh Performed for:  </h6></td></tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        
        <td><b>Execution Date</b></td>
        <td>
          <input type="date" name="date" />
        </td>
      </tr>
      <tr>
        <td>
          <div class="btn-effcts">
            <button type="submit" class="hvr-push">Query</button>
          </div>
        </td>
        <td>
          <div class="btn-effcts">
            <button type="reset" class="hvr-push">Reset</button>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
<div>
  <br>
  <br>
  <table align="center" cellspacing="8" cellpadding="8">
    <tr *ngIf="">
      <th width="200px">Task</th>
      <th width="200px">Status</th>
    </tr>
    <tr *ngFor="">
      <td width="200px">{{s}}</td>
      <td width="200px">{{s}}</td>
    </tr>
  </table>
</div>